#total-cost {
  display: none;
}

h4 {
  color: #5d0093;
  margin: 0 0 0 10px;
}

#purple {
  height: 3px;
  background-color: #5d0093;
}

hr {
  padding: .5px;
  margin: 4px;
  background-color: black;

}

.container {
  padding: 10px;
  margin: 10px auto;
  border-color: black;
  border-width: thick;
  border-style: solid;
  background-color: #f5f5f5;
  width: 650px;
}

button {
  color: white;
  background-color: #5d0093;
  margin      : 0;
  padding     : 0;
  border: 0;
}

.form-horizontal .control-label{
  text-align:left;
  height: 20px;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 0px;
}

.form-control {
  width: 200px;
  height: 20px;
  margin: 0px;
}
